Django==5.0.6
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-two-factor-auth==1.16.0
django-cors-headers==4.4.0
django-filter==24.2
django-extensions==3.2.3
psycopg2-binary==2.9.9
gunicorn==22.0.0
Pillow==10.4.0
django-storages==1.14.4
python-magic==0.4.27
dj-database-url==2.2.0
argon2-cffi==23.1.0
celery==5.4.0
redis==5.0.7
reportlab==4.2.2
openpyxl==3.1.5
python-dotenv==1.0.1
