[global]
repo1-type=s3
repo1-s3-endpoint=REPLACE_WITH_S3_ENDPOINT
repo1-s3-bucket=REPLACE_WITH_BUCKET
repo1-s3-region=REPLACE_WITH_REGION
repo1-s3-key=REPLACE_WITH_ACCESS_KEY
repo1-s3-key-secret=REPLACE_WITH_SECRET_KEY
repo1-cipher-type=aes-256-cbc
repo1-cipher-pass=REPLACE_WITH_SEPARATE_BACKUP_PASSPHRASE
repo1-retention-full=REPLACE_WITH_APPROVED_VALUE
repo1-bundle=y
repo1-block=y
archive-async=y
process-max=4
start-fast=y

[nca]
pg1-host=db
pg1-path=/var/lib/postgresql/data
pg1-port=5432
pg1-user=postgres
